{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="container">
        <br><br>
        <div class="card">
            <h3 class="card-title">{{ video.file.name }}</h3>
        </div>
        <br><br><br>
        <div class="embed-responsive embed-responsive-16by9">
            <video id="videoPlayer" class="embed-responsive-item" width="640" height="360" controls>
                <source src="{{ video.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <br><hr>
        <h2 class="mt-4">Subtitles</h2>
        <ul class="list-group">
            {% for subtitle in subtitles %}
            <li class="list-group-item">
                {{ subtitle.content }} (Start time: {{ subtitle.start_time }} seconds)
                <a href="#" class="btn btn-sm btn-primary" onclick="playAtTime({{ subtitle.start_time }})">Play from here</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <br><br><br><br><br><br><br><br>


{% endblock  %}



{% block script %}

    <script>
        function playAtTime(startTime) {
            const video = document.getElementById('videoPlayer');
            video.currentTime = startTime;
            video.play();
        }
    </script>
    

{% endblock %}

